html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

.page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* company logo and name */
.intro-container {
  color: white;
  background-color: black;
  height: 2.32rem;
}


.intro {
  max-width: 960px;
  margin-left: 9.25rem;
}

.intro img {
  height: 1.5rem;
  width: 1.8rem;
  margin-right: 1rem;
  margin-left: .5rem;
  align-content: center;
}

.logo {
  font-size: 1rem;
  text-align: center;
}

/*landing & news*/
.news {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  width: 100%;
}

.newmoto {
  height: 10rem;
  width: 20rem;
  padding: 1rem 3rem;
  color: white;
  background-color: black;
  margin-left: 10rem;
  margin-top: 10rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#newarr {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#moto {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

/*menu list*/
nav {
  display: flex;
  color: white ;
  background-color: firebrick;
  height: 2.5rem;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.navs {
  font-size: 1rem;
  margin: .75rem 2rem .75rem 1rem;
}

/*products*/
.main-content {
  max-width: 960px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  margin-left: 9.25rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#pen {
  margin-left: 10px;
}

#watch, #glasses {
  margin-left: 2rem;
}
.product-image {
  height: 15rem;
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.product-image img {
    height: 9rem;
    width: 85%;
    padding: 2rem 1rem 2rem 0.957rem;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
}

.listtext {
  width: 100%;
  height: 2rem;
  color: white;
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* location & hours */
.contact {
  display: flex;
  max-width: 960px;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 10rem;
}

.block {
  color: white;
  background-color: black;
  height: 3rem;
  text-align: center;
  margin-top: 3rem;
  margin-right: 1rem;
  margin-left: .15rem;
}

#location {

  width: 35%;

}

#time {
  width: 35%;
  /*margin-left: 15.2rem*/
}


/*footer*/
.footer {
  color: white;
  background-color: black;
  height: 5rem;
  width: 100%;
  margin-top: 4rem;
}

#copyright {
  text-align: left;
  align-items: center;
  padding-top: 2rem;
  margin-left: 10rem;
}
