html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* company logo and name */
.intro-container {
  color: white;
  background-color: black;
  height: 2.32rem;
}


.intro {
  max-width: 960px;
  margin-left: 9.25rem;
}

.intro img {
  height: 1.5rem;
  width: 1.8rem;
  margin-right: 1rem;
  margin-left: .5rem;
  -ms-flex-line-pack: center;
      align-content: center;
}

.logo {
  font-size: 1rem;
  text-align: center;
}

/*landing & news*/
.news {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  width: 100%;
}

.newmoto {
  height: 10rem;
  width: 20rem;
  padding: 1rem 3rem;
  color: white;
  background-color: black;
  margin-left: 10rem;
  margin-top: 10rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#newarr {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#moto {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

/*menu list*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white ;
  background-color: firebrick;
  height: 2.5rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#navwidth {
  width: 960px;
  margin-top: .75rem;
}

.navs {
  font-size: 1rem;
  margin: .75rem 2rem .75rem 1rem;
}

nav select {
  display: none;
}

/*products*/
.main-content {
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-left: 9.25rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#pen {
  margin-left: 10px;
}

#watch, #glasses {
  margin-left: 2rem;
}
.product-image {
  height: 15rem;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-image img {
    height: 9rem;
    width: 49%;
    padding: 2rem 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 4px solid black;
}

.listtext {
  width: 89%;
  height: 2rem;
  color: white;
  background-color: black;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* location & hours */
.tab-up-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 960px;
  height: 4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 10rem;
}

.mobile-contact {
  display: none;
}

.block {
  color: white;
  background-color: black;
  height: 3rem;
  text-align: center;
  margin-top: 3rem;
  margin-right: 1rem;
  margin-left: .15rem;
}

#location {

  width: 35%;

}

#time {
  width: 35%;
  /*margin-left: 15.2rem*/
}


/*footer*/
.footer {
  color: white;
  background-color: black;
  height: 5rem;
  width: 100%;
  margin-top: 4rem;
}

#copyright {
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  margin-left: 10rem;
}

/*Media Query*/
@media screen and (max-device-width: 1024px) and (min-device-width: 471px)
{
  .intro {
    margin-left: 0rem;
  }
  .newmoto {
    margin-left: 0rem;
  }
  #navwidth {
    display: none;
  }
  nav select {
    display: inline-block;
  }
  #glasses {
    display: none;
  }
  #pen {
    margin-left: -5rem;
  }
  #watch {
    margin-left: 7rem;
    margin-right: -5rem;
  }
  #pen, #watch {
    width: 47%;
  }
  #location, #time {
    width: 35%;
  }
  .main-content {
    margin-left: 0rem;
  }
  .listtext {
    width: 81%;
  }
  .tab-up-contact {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .mobile-contact {
    display: none;
  }
}


/*Media Query*/
@media screen and (max-device-width: 470px) {
  .intro {
    margin-left: 0rem;
  }
  .news {
    height: 15rem;
  }
  .newmoto {
    margin-left: 0rem;
    height: 3rem;
  }
  #newarr {
    margin-bottom: 1rem;
    margin-top: 0rem;
    font-size: .77rem;
  }
  #moto {
    font-size: 1rem;
  }
  #navwidth {
    display: none;
  }
  nav select {
    display: inline-block;
  }
  #glasses, #watch {
    display: none;
  }
  #pen {
    width: 90%;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  #location, #time {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .main-content {
    margin-left: 0rem;
    margin-bottom: 0rem;
  }
  .listtext {
    width: 81%;
  }
  .mobile-contact {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-left: 1rem;
  }
  #time {
    margin-top: -2rem;
    text-align: center;
  }
  .tab-up-contact {
    display: none;
  }
  #copyright {
    text-align: center;
    margin-left: 0rem;
  }
}
